/* Created by Merogames */

body {
    font-family:chess;
    margin: 0;
    background: rgb(238, 174, 202);

}

.square {
    background:#afa;
    display:inline-block;
    border:1px solid #fff;
    text-align:center;
    position: absolute;
    cursor: pointer;
}
.menu {background-color:red;
padding:40;
}
h1 {
  background: salmon;
}

